* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-box-container {
    display: flex;
    width: 200px;
    height: auto;
    justify-self: center;
    align-items: center;
}

.image-cont {
    width: 70px;
    height: 70px;
    border-radius: 200px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 80px;
    padding: 0 2rem;
    color: darkslateblue;
    background-color: #eaeaea;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

nav a {
    margin: 0 2rem;
    color: darkslateblue;
    text-decoration: none;
}

nav a:hover {
    color: #30264F;
}

.header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: darkslateblue;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
    .header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    .header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #eaeaea;
        transition: 1s;
        transform: translateX(180vh);
    }

    .header .responsive_nav {
        transform: none;

    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }
}